<!--The content below is only a placeholder and can be replaced.-->
<body>
<div style="text-align:center">
  <h1>
    MI7-Graduate Directed Project
  </h1>
</div>
<!-- <h2>Enter the Hashtag in the provided space below:</h2> -->
<form class = "hash" style="margin:auto;max-width:300px">
  <input type="text" name="input" ng-model="hash.text" ng-pattern="hash.word" placeholder="#Hashtag.."required ng-trim="false">
  
  <span class="input-group-btn">
      <button type="submit" value="">Search</button>
      </span>
</form>
</body>


<router-outlet></router-outlet>